<!DOCTYPE html>
<html>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<body ng-app="myApp">
<div  ng-controller="myCtrl">

<input ng-model="name">

<h1>My name is {{name}}</h1>

<h1>My son is {{mySon.name}}</h1>


</div>
<div ng-controller="loginCtrr">
    <form>
        <div>
            <label>Username:</label>
            <input type="username" ng-model= "username"/>
        </div>
        <div>
            <label>Password:</label>
            <input type="password" ng-model= "password"/>
        </div>
        <div>
            <button type="button">Login</button>
        </div>
    </form>
</div>

<script>
var app = angular.module('myApp', []);

app.controller('loginCtrr', function($scope) {
    $scope.username = "John Doe"
    $scope.password = "123"
   
});

app.controller('myCtrl', function($scope) {
    $scope.name = "John Doe";
    $scope.age = 25;
    $scope.mySon = {
        name : "Alex",
        age : 3
    }
});
</script>

<p>When you change the name in the input field, the changes will affect the model, and it will also affect the name property in the controller.</p>

</body>
</html>
